.title-blue {
	color: rgb(64, 128, 192);
	font-size: 13px;
	font-weight: bold;
	padding: 3px;
	text-decoration: underline;
}

/* -------------- process image --------------- */
#processImage {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1
}

.node {
	position: absolute;
	z-index: 1024;
	border-radius: 10px 10px;
	cursor: pointer;
}

.path {
	border: 3px solid rgb(99, 175, 92);
	filter: alpha(opacity = 80);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
}

.pathbox {
	background-color: rgb(99, 175, 92);	
	/* background-color: rgb(64, 128, 196); */ 
	filter: alpha(opacity = 90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	
	border-bottom-right-radius: 5px;
}

.current {
	border: 3px solid orange;
}

.currentbox {
	background-color: orange;
}

.box {
	color: white;
	font-size: 12px;
	font-weight: bold;
	height: 17px;
	font-family: '微软雅黑', 'Arial', 'Verdana', 'sans-serif';
	z-index: 1024;
}

.hover {
	position: absolute;
	z-index: 2048;
	height: auto;
	width: auto;
	color: rgb(240, 240, 240);
	background-color: rgb(64, 128, 196);
	font-size: 8px;
	padding: 7px;
	cursor: pointer;
	border-radius: 12px;
	filter: alpha(opacity = 95);
	-moz-opacity: 0.95;
	-khtml-opacity: 0.95;
	opacity: 0.95;
}

.hover div {
	font-size: 8px;
}

.nodename {
	color: rgb(72, 212, 240);
}