/* 表格整体格式 */
.el-table td, .el-table th.is-leaf {
  /* border: 1px solid #e3e3e3; */
  text-align: center;
}
/* .el-table td{
  padding: 0;
} */
.el-table th {
  background-color: #f7f8f9 !important;
  color: #5e5e5e;
  padding: 10px 0;
}
.el-table th>.cell {
  font-size:16px !important;
}


/* 表格内的按钮优化 */
.el-table__row .el-button {
  padding: 0;
}


/* 催办次数背景色处理  */
.sup_bac1 sup{
  background:#ff4646
}
.sup_bac2 sup{
  background: #ffaa46;
}
.sup_bac3 sup{
  background: #1b85ca;
}


/* 分页优化 */
.el-pagination.is-background .btn-prev, 
.el-pagination.is-background .btn-next {
  min-width: 68px;
}

.el-pagination.is-background .el-pager li {
  margin: 0 1px;
}

.el-pagination {
  float: right;
  margin-right: 40px;
  margin-top: 24px;
}

/* 无数据 */
.el-table__empty-block {
  height: 0;
}

/* 头部操作优化 */
.follow-head, .head-form {
  padding-left: 10px;
  margin: 12px 0;
}

.search-container {
  display: inline-block;
}

.follow-head>.el-button, .img-btn {
  margin-left: 10px;
  padding-left: 46px;
  position: relative;
}

.follow-head>.el-button img, .img-btn img {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

/* 弹框操作优化 */
/* dialog */
.el-dialog__header {
  background-color: #2983b3;
}
.el-dialog__title {
  color: #fff;
}
.dialog-footer {
  display: flex;
  justify-content: center;
}